/* apply a natural box layout model to all elements, but allowing components to change */
html {
	box-sizing:border-box;
}
*, *:before, *:after {
	box-sizing:inherit;
}

.caution {color:red;}

/* Override Parent CSS */

p { margin-bottom:1em; }

h5 { margin-top:1.25em; }

.x-img { margin-bottom:0; }

.wp-caption, .wp-caption * {
	text-transform:none !important;
}

.wp-caption {
	max-width:95%;
	font-weight:bold;
	border:0;
}

.wp-caption>.wp-caption-text {
	font-size:1.2em !important;
}

/* Divider */

hr.div-line {
	border: 0; 
	height: 1px; 
	background-image:linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0));
	width:70%;
	margin:20px auto;
}

/* Gala Menu */

#gala-menu {
	margin:0;
}

#gala-menu ul {
	list-style-type:none;
	margin:0;
	padding:0;
	overflow:hidden;
}

#gala-menu li {
	float:left;
	border-right:1px solid white;
	background-color:#D9853B;
	width:48%;
	border-radius:30px;
	margin:1%;
}

#gala-menu li:last-child {
	border-right:none;
}

#gala-menu li a {
	display:block;
	color:white;
	text-align:center;
	padding:10px 15px;
	text-decoration:none;
}

#gala-menu li a:hover:not(.active) {
	background-color:#cd0000;
	border-radius:30px;
}

#gala-menu .active {
	background-color:red;
	border-radius:30px;
}

@media screen and (max-width: 600px) {

	#gala-menu ul li {
		float:none;
	}

	#gala-menu li {
		border-bottom:1px solid white;
		width:100%;
	margin-top:5px;
	}

	#gala-menu li:last-child {
		border-bottom:none;
	}

}

/* Gala Info */

#gala-info .info-detail {
	color: #8c5c5e;

/* Sponsor Logos */

#rig {
	max-width:900px;
	margin:0 auto;
	padding:0;
	font-size:0; /* Remember to change it back to normal font size if have captions */
	list-style:none;
	background-color:white;
}

#rig li {
	display:inline-block;
	*display:inline;/*for IE6 - IE7*/
	width:25%;
	min-height:100px;
	vertical-align:middle;
	box-sizing:border-box;
	margin:0;
	padding:0;
}

/* The wrapper for each item */
.rig-cell {
	margin:15px;
	/*box-shadow:0 0 6px rgba(0,0,0,0.3);*/
	display:block;
	position:relative;
	overflow:hidden;
}

/* If have the image layer */
.rig-img {
	display:block;
	width:100%;
	height:auto;
	border:none;
	transform:scale(1);
	transition:all 1s;
}

#rig li {
	width:25%;
}

@media only screen and (max-width:700px) {
	#rig li {
		width:33.33%;
	}
}

@media only screen and (max-width:550px) {
	#rig li {
		width:50%;
	}
}

/* Sponsorship Levels */

.plan-container {
	display:block;
	font-size:12px;
	line-height:1.25;
}

.columns {
	float:left;
	padding:8px;
	width:12.5%;
}

.columns.head-col {
	font-weight:bold;
}

.plan {
	list-style-type:none;
	border:1px solid #ccc;
	margin:0;
	padding:0;
	-webkit-transition:0.3s;
	transition:0.3s;
}

a.sponsorship_desc {
	color:cyan;
}
a.sponsorship_desc:hover {
	font-weight:bold;
}

.columns.data-col:hover {
	box-shadow:0 8px 18px 5px #767676;
}

.plan li {
	border-bottom:1px solid #eee;
	padding:10px 5px;
	text-align:center;
	line-height:1.25;
	min-height:45px;
}

.plan .header {
	background-color:#800000;
	color:white;
	font-size:14px;
	min-height:50px;
}

.plan .price {
	background-color:#FFEBCD !important;
	font-size:14px;
}

.plan li:nth-child(even) {
	background-color:#f2f2f2;
}

.plan .buy {
	background-color:#800000 !important;
	height:55px;
}

.button {
	background-color:#1d8eff;
	border:none;
	color:white;
	box-shadow:0 0.25em 0 0 #004c66,0 4px 9px rgba(0,0,0,0.75);
	text-align:center;
	text-decoration:none;
	font-size:12px;
	line-height:1;
	padding-top:8px;
	padding-bottom:10px;
	margin-bottom:0;
}

.button:hover {
	background-color:#72b8ff;
	box-shadow:0 0.25em 0 0 #0053a6,0 4px 9px rgba(0,0,0,0.75);
	border-color:#004993;
}

.label {
	color:#167ac6;
}

/* Program Book Ad Pricing */

.tbl {
	display:table;
	border-collapse:collapse;
	max-width:100%;
	margin:20px auto;
}

.trow {
	display:table-row;
}

.tcell {
	display:table-cell;
	border:1px solid #ccc;
	padding:10px;
}

.theader {
	background-color:#800000;
	color:white;
	text-transform:uppercase;
}

.theader, .lbl {
	font-weight:bold;
}

.trow:nth-child(even) {
	background-color:#f2f2f2;
}

.c3-1 {width:30%;}
.c3-2 {width:50%;}
.c3-3 {width:20%;}

.c4-1 {width:15%;}
.c4-2 {width:25%;}
.c4-3 {width:30%;}
.c4-4 {width:10%;}

.c3-1, .c3-2, .c3-3,
.c4-1, .c4-2, .c4-3, .c4-4 {
	text-align:center;
}

.ad {
	text-align:center;
}

div.h4.ad, div.h5.ad {
	margin-top:1.25em;
	margin-bottom:0.5em;
}

div.ad {
	margin:auto;
}

p.ad {
	font-size:1.25em;
}

li.ad {
	list-style-position:inside;
}

/* ad formats */

#ad_map {
	margin:auto;
	padding:0;
	width:600px;
	max-width:100%;
	height:400px;
	background:url(http://www.asianinc.org/wp-content/uploads/2016/09/ad_formats.jpg) top left no-repeat #fff;
	font-family:"Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size:10px;
}

#ad_map li {
	margin:0;
	padding:0;
	list-style:none;
}

#ad_map li a {
	position:absolute;
	display:block;
}

#ad_map li a span {
	display:none;
}

#ad_map li a:hover span {
	position:absolute;
	display:block;
	width:240px;
	left:5px;
	bottom:0px;
	padding:5px;
	padding-left:10px;
	border:1px solid #666;
	border-radius:10px;
	background:#333;
	text-decoration:none;
	color:white;
	filter:alpha(opacity=80);
	opacity:0.8;
}

#ad_map a.full_page {
	position:relative;
	top:35px;
	left:32px;
	width:250px;
	height:325px;
}

#ad_map .ad_format_pages {
	list-style-type:square;
}

@media only screen and (max-width:425px) {
	#ad_map {
		width:290px;
		height:194px;
		background-size:cover;
	}
}

/* Sponsorship level description */

.sub-menu {
	margin:5px;
}

.sub-menu li {
	list-style:none;
	padding:0;
	margin:0;
}

.sub-menu li span {
	display:inline-block;
	color:black;
}
 
.sub-menu li:hover {
	background:#efefef;
}

.sub-menu .offer {
	vertical-align:top;
	border-bottom:1px solid lightgray;
}
.sub-menu .offer_name {
	display:inline-block;
	font-size:1em;
	font-weight:bold;
}

.sub-menu .offer_desc {
	display:inline-block;
	font-size:0.9em;
	color:gray;
}


/* Media queries */

@media only screen and (max-width:600px) {

	/* Sponsorship Levels */

	.columns {
		width:100%;
	}
	div.columns.head-col, .space {
		display:none;
	}
	.label {
		display:visible;
	}

	/* Sponsorship Description */
	
	.sub-menu .offer_name {
		width:100%;
	}
	.sub-menu .offer_desc {
		width:100%;
	}
}

@media only screen and (min-width:601px) and (max-width:800px) {

	/* Sponsorship Levels */

	.columns {
		width:50%;
	}
	div.columns.head-col, .space {
		display:none;
	}
	.label {
		display:visible;
	}

	/* Sponsorship Description */
	
	.sub-menu .offer_name {
		width:30%;
	}
	.sub-menu .offer_desc {
		width:70%;
	}
}

@media only screen and (min-width:801px) {

	/* Sponsorship Levels */

	.label {
		display:none;
	}
	.plan .header {
		height:80px;
	}
	.plan .header a {
		display:inline-block;
		padding-top:8px;
	}
	.plan li.long {
		height:50px;
	}

	/* Sponsorship Description */
	
	.sub-menu .offer_name {
		width:25%;
	}
	.sub-menu .offer_desc {
		width:75%;
	}
}